{{#each this}}
<li class="collection__item">
  <article class="card">
    <a href="" class="card__link"">
          {{#if poster_path}}
          <img class=" card__img" src="https://www.themoviedb.org/t/p/w300{{poster_path}}" loading="lazy" alt="{{title}}" title="{{title}}"
      data-id="{{id}}" />
    {{else}}
    <img class="card__img" src="https://subscribenow.com.au/time/asia/Solo/Content/Images/noCover.gif" loading="lazy" alt="{{title}}"
      title="{{title}}" data-id="{{id}}" />
    {{/if}}
    <div class="card__wrap">
      <h2 class="card__title">{{title}}</h2>
      <p class="card__text">{{#if genres}} {{#each genres}} {{name}}, {{/each}} {{else}} N/A {{/if}} | {{#if year}} {{year}} {{else}} N/A
        {{/if}}</p>
    </div>
    </a>
  </article>
</li>
{{/each}}