 {{#each this}}
    <li class="collection__item">
      <article class="card">
        <a href="" class="card__link"">
          <img class="card__img" src="https://www.themoviedb.org/t/p/w300{{poster_path}}" alt="{{title}}-poster"/>
          <div class="card__wrap">
            <h2 class="card__title">{{title}}</h2>
            <p class="card__text">{{genre_ids}} | {{release_date}}</p>
          </div>
        </a>
      </article>
    </li>
 {{/each}}