<div class="film__modal" data-id={{id}}>
    <div class="">
        <img src="" alt="">
    </div>

    <div class="">
        <div>
            <h2 class="film__titile">{{title}}</h2>
            <ul class="film__list">
                <li class="film__item">
                    <p class="film__vote">Vote / Votes</p>
                    <p class="">
                        <span class="">{{vote_average}}</span>
                        <span class="">{{vote_count}}</span>
                    </p>
                </li>
                <li class="">
                    <p class="">Popularity</p>
                    <p class="">{{popularity}}</p>
                </li>
                <li class="">
                    <p class="">Original title</p>
                    <p class="r">{{original_title}}</p>
                </li>
                <li class="">
                    <p class="">Genre</p>
                    <p class="">
                        {{#each genres}}
                        <span>{{this.name}}</span>
                        {{/each}}
                    </p>
                </li>
            </ul>
        </div>
        <div>
            <h3 class="">About</h3>
            <p class="">
                {{overview}}
            </p>
        </div>
        <div class="">
            <button type='button' class="details__btn js-btnWatched">Add to watched</button>
            <button type='button' class="details__btn js-btnQueue">Add to queue</button>
        </div>
    </div>
</div>