<div class="team__conteiner">
    <div class="title-wrapper">
        <img class="goitLogo" src="https://goit.ua/wp-content/themes/1/images/Layer.png" alt="GoIT">
        <h2 class="team__title">TEAM_FOUR</h2>

    </div>

    <div class="team__content">
        <ul class="team__list list">
            {{#each this}}
            <li class="team__item">
                <img src="{{imageMember}}" alt="{{name}}" class="team__image" />

                {{!-- <div class="team__content"> --}}
                    <h3 class="team__subtitle">{{name}}</h3>
                    <p lang="en" class="team__text text">{{position}}</p>
                    <a class="social__link" href="{{socialLink}}" target="_blank" aria-label="ссылка Инстаграм">
                        <span>icon git</span>
                    </a>
            </li>
            {{/each}}
        </ul>
    </div>

    <button type="button" class="close__button"></button>
</div>